.header-section{
    background-color: aqua;
    /* padding-top: -15px; */
    margin-top: -60px;
    border-bottom:4px solid gray;
}
.header-section h1{
   font-family: "Trebuchet MS", sans-serif;
   font-size: 5em;
   letter-spacing: -2px;
   border-bottom: 2px solid black;
   text-transform: uppercase;
}
.header-section img{
    margin-top: -104px;
}